@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div>
    <div>
        <h3>
            Bicycle Shop Survey
        </h3>

        <h4>Login or Register to fill out the survey.</h4>
    </div>
</div>



<p>One survey submition per account</p>
