@page
@model ContactModel
@{
    ViewData["Title"] = "Survey Completed";
}
<h2>@ViewData["Title"]</h2>


<dive>
    <h5>You have already completed the survey</h5>
    <div>
        <h5>
            Thank you
        </h5>
    </div>
</dive>




